/* Explorer Web Development */
/* Robert Godbey */
/* August 18, 2024 */
/* Trivia Game -- HTML & CSS Version */

/* Set the default font, text color, etc. for the body */
body {
  font-family: Arial, sans-serif;
  color: white;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin: 0;
}

/* Position the quiz area */
.quiz-container {
  background-color: blue;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 550px;
  padding: 20px;
  text-align: center;
}

.quiz-header {
  font-size: x-large;
}

.quiz-sub {
  font-size: large;
}

.quiz-options {
  color: white;
  text-align: left;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

button {
  font-weight: bold;
  background-color: darkgray;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: gray;
}
